@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&display=swap');

*{
    font-family: 'Lora', serif;
    /*border-radius: 10px;*/
}

/*div#page__admincontact.text-center {
    font-size: 0px;
}*/

.font-snowblue {
    font-family: 'Lora', serif;
}

[src="/i/logo2-deer.png"] {
     display:none;
}

/*футер*/

div#footer, .footer__infolinks.p-1, div#app+div+[style="text-align: center"], div#page__rendertime.p-1, .text-center {
    font-size:0;
}

/*основа*/

body.bodybg {
    background-color: #f8ebe1;
}

.crumbs:after {
    display: block;
    height: 450px;
    /*width: 1500px;*/
    content: '';
    background: url(https://i.ibb.co/hYgbMKL/53.png) center no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid #c7947750;
}

main.py-4 {
    padding: 20px;
    padding-top: 20px!important;
    max-width: 1500px;
    margin: auto;
    background: #ffe3ced1;
    border: 16px double #c7947750;
    border-radius: 10px;
}

.content {
    position: relative;
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

a, div, span[data-target="#deleteconfirmmodal"] {
text-decoration: unset!important;
   color:#c79477!important;
   transition: .3s;
}

a:hover, span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: unset!important;
    color:#b06a42!important;
    transition: .3s;
}

.post-content div, .comment-content div, .left-menu > div > h3, .readertime {
    color: #c79477;
    border-radius: 10px;
}

.row.w-100 {
    position: sticky;
    top: 100%;
    margin-left: -8px;
    /*font-weight: bold;*/
    cursor: pointer;
}

.comment-text+div {
    position: sticky;
    top: 100%;
    padding: 3px;
    /*font-weight: bold;*/
    cursor:pointer;
    border-radius: 10px;
}

.liked .fas, .reposted .fas, .bookmarked .fas { /*лайкнутый пост кем-то*/
    color: #c79477!important;
}

.liked .fas::before { /*лайкнутый пост мной*/
    color: #fdf1e7;
}

span.post-title-date+span {
    font-size:0px;
}

::selection {
    background: #c79477;
    color: #fff;
}

[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/online.png"],
[src="//beon.fun/i/design-off.png"],
[src="/i/blog.png"],
[src="/i/offline.png"],
[src="/i/user.png"],
.pagination-goto,
.left-menu__friends,
.left-menu__unread-message img.flag,
.post-content.blog_total_counter,
.user:before {
    display:none;
}

/*div#footer:before {
    content: 'Вопросы/помощь c дизайном - solarinoo.beon.fun/';
    display: block;
    font-size: 10px;
    text-align: center;
    margin-top: 15px;
    color: #c79477;
}*/

/*---------*/

/*меню*/

.left-menu * {
    color:#c79477;
    font-size: 12px;
    border-radius: 10px;
}

div.left-menu {
    border: none;
    /*border-radius: 10px;*/
}


h3.left-menu-text {
    font-size: 15px;
    background: #c7947750!important;
    color: #f8ebe1!important;
    border-bottom: 1px solid transparent!important;
    border-image: #8d7c8215!important;
    border-image-slice: 1!important;
    border-radius: 5px!important;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
}


h3.left-menu-text:before  {
    content: "~";
    color: #f8ebe1;
    letter-spacing: 5px;
    font-weight: 100;
    font-size: 20px;

}
 
.left-menu > div {
    background-color: #c7947715;
    margin-bottom: 25px!important;
}

div.left-menu__user-notification.left-menu__unread-message { /*лс*/
    border: 1px solid #c7947750;
}

.blog__about  [href="/design/disable"] {
    color: #c79477!important;
}

.blog__about,
.blog__tags {
    border: 1px solid #c7947750;
}

.blog__gifts,
.blog__read-me,
.blog__iread,
.blog__last-comments {
    display: none;
}

.left-menu__user-notification.left-menu__unread-message img+p {
    font-size: 12px;
    color: #c79477;
    overflow: auto;
    line-height: normal;
    max-height: 50px;
    margin-top: 8px;
} 

.left-menu__unread-message img {
    margin-top: -8px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

/*.tag:before {
    content: "\ec73";
    color: #c79477;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 13px;
}*/

.text-center img {
    margin-top: 8px;
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #c794778c;
}

.text-center+div {
    font-size: 13px;
    color: #c79477;
    /*font-weight: bold;*/
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.readertime {
    color: #c79477;
    font-size: 10px;
    font-weight: 900;
}
/*------------------*/


/*верх*/

.bg-white {
    background-color: #c7947715;;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0)!important;
    border-radius: 10px;
    border: 1px solid #c7947750;
}

.pc-menu a {
    color: #c79477!important;
    font-size: 10px;
    letter-spacing: 1px;
    transition: .3s;
}

.pc-menu a:hover {
   color:#b06a42!important;
   transition: .3s;
}

.py-4+.crumbs {
    display:none;
}

.m2 {
    font-size: 0;
}

.navbar-brand {
    font-size: 25px;
    /*font-weight: bold;*/
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #c79477;
    /*text-shadow: 0px 0px 20px #edca78e6;*/
}

/*a.navbar-brand:before {
    content: "\eb96";
    font-family:'cappuccicons';
    color: #ffffffde;
    font-weight: 100;
    letter-spacing: 8px;
    float: left;
    font-size: 25px; 
    text-shadow: 0px 0px 20px #edca78e6;
    transition: 0.3s;
}*/

a.navbar-brand:hover:before {
   /* text-shadow: 0px 0px 10px #ffffff90;*/
    transition: 0.3s;
}

.navbar-brand:hover {
    /*text-shadow: 0px 0px 10px #ffffff50;*/
    transition: 0.3s; 
} 


/*-------------------*/

/*посты*/

.post-content {
    margin: 10px 10px 20px;
    background: #c7947715;
    border-radius: 10px;
    border: 1px solid #c7947750;
    padding: 5px;
}

.comment-content {
    margin: 10px 10px 20px;
    background: #c7947715;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #c7947750;
}

.post-content, .comment-content {
    min-height: auto;
}

.post-title-date {
    font-size: 8px;
    letter-spacing: 1px;
    /*font-weight: bold;*/
    color: #c79477;
    padding-left: 0;
}

.post-title-user {
    font-size: 14px;
    letter-spacing: 0.5px;
    /*font-weight: bold;*/
    color: transparent;
    background: #c7947715;
    -moz-background-clip: text;
    -webkit-background-clip: text;
}

.post-title, h1 {
    font-size: 18px;
    /*font-weight: bold;*/
    margin-right: 5px;
}

h2, .comment-box__message-partial.comment-content  {
    font-size: 13px;
    /*font-weight: bold;*/
    text-align: center;
}

.post-opt [style="font-size: 1rem;"] {
    font-size: 13px!important;
}

.post-text, .comment-text {
    padding: 5px;
}

img.imagefsme {
    /*filter: saturate(0.5);*/
    transition: 0.3s;
}

img.imagefsme:hover {
    /*filter: saturate(1);*/
    transition: 0.3s;
}

.fa-lock-open:before {
    display:none;
}

.small-text {
    font-size: 0;
}

.post__mood, .post__musicplay, .post__wish, .post__tags-list {
    color: #c79477!important;
}

.quotation {
    background-color: #c7947715;
    border-left: 10px double #c7947780;
    color: #c79477;
    padding-left: 5px;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 0;
    font-size: 12px;
    /*font-weight: bold;*/
}

 
/*-------------*/

.pagination {
    display: flex;
    justify-content: center;
    float: none;
    /*font-weight: bold;*/
    padding-bottom: 10px;
    color: #c79477;
    font-size: 10px;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
}

div.crumbs {
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #c7947750;
}

.crumbs {
    color: #fff;
    max-width: 1500px;
    margin: auto;
    padding: 0;
    background-color: #c7947715;
}

.crumb-item {
    color: #c79477;
    font-size: 15px;
    letter-spacing: 1px;
    /*text-transform: uppercase;*/
}

.datebg {
    font-size: 12px;
    text-align: end;
    color: #c79477cf;
    /*font-weight: bold;*/
}

.datebg:before {
    content: '';
    display: block;
    width: 85%;
    position: absolute;
    right: 20px;
    margin: auto;
    border-bottom: 20px solid transparent!important;
    border-image: #c7947715!important;
    border-image-slice: 1!important;
}

.alert-success {
    font-size: 15px;
    text-align: center;
    color: #c79477cf;
    background-color: #f8ebe14f;
    border-color: #c79477cf;
    font-weight: 100;
}

#usermenu {
    border-radius: 0;
    background-color: #000000;
    border: 1px solid #c79477;
}

 .fa-chevron-down:before {
    content: "\f078";
    float: left;
    display: block;
    position: absolute;
    margin-top: -10px;
    margin-left: -10px;
}


input, select,
.btn-outline-primary,
.textareabg input[type="submit"],
.textareabg input[type="button"],
.left-menu-text input[type="submit"], 
button.btn.btn-secondary, 
button.btn.btn-primary {
    background: #f2f0f5;
    border: 1px solid #c79477;
    border-radius: 3px;
    color: #c79477cf;
    /*font-weight: bold;*/
    font-size: 12px;
    cursor: pointer;
    transition: 0.4s;
}

input:hover, select:hover,
.btn-outline-primary:hover,
.textareabg input[type="submit"]:hover,
.textareabg input[type="button"]:hover,
.left-menu-text input[type="submit"]:hover, 
button.btn.btn-secondary:hover, 
button.btn.btn-primary:hover {
    background: #ffffff30;
    padding-left:10px;
    color: #c79477;
    transition: 0.4s;
}

 
.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    margin: 2px;
    width: 95px;
    border:5px double #c7947733; 
    transition: 0.3s;
}


.avatar-select-label-selected {
  width: 100px;
  border: 1px solid #000; 
  transition: 0.3s;
}

.emj-dropdown {
    padding: 0px;
}

.emj-dropdown-content {
    width: 50%;
    height: 15%;
    max-height: 200px;
    background: #000;
    border: 2px solid #c7947733;
}


.textareabg .fa-chevron-down:before {
    position: unset;
    margin-left: 0;
}

.textareabg {
    /*font-weight: bold;*/
    background: #c7947715;
    padding-right: 10px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #c7947733;
    border-radius: 10px;
}

textarea {
    border: 1px solid #8d7c8250;
    background: #f2f0f5;
    color: #000000;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
    height: 0;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before {
    content: '\25B2';
    font-size: 25px;
    color: #c79477;
    margin-left: -85px;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
    color: #c79477!important;
    transition: 0.3s;
}

[href="#footer"] {
    font-size: 0px;
    height: 0;
}

[href="#footer"]:before {
    content: '\25BC ';
    font-size: 22px;
    transition: 0.3s;
    padding-left: 5px;
}

[href="#footer"]:hover:before { 
    color: #c79477!important;
    transition: 0.3s;
}

[src^="https://music.yandex.ru/iframe/#track/"],
[src^="https://vocaroo.com/embed/"]   {
    height: 60px !important;
    max-width: 400px!important;
    filter: opacity(0.6);
}

 
.modal-body {
    color: #c79477;
    position: relative;
}

.modal-content {
    background: #f8ebe1;
    /*font-weight: bold;*/
    border: 2px solid #c794774f;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}
 

.user_footer, .div_user_img {
    border: 1px solid #c794774f;
} 


div#newpostform br,div#newpostform br+br+p {
    display: none;
}
 
span.emj-dropdown {
    padding: 0px;
}
form.messageform p {
    margin-bottom: 0px;
} 

.container-fluid {
    padding-left: 0px;
}

.container-fluid .row {
    margin-left: -15px!important;
}

.container-fluid.mt-5 {
    margin-top: 0px !important;
    padding-left: 0px!important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #c79477;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background-color: #f8ebe1; 
}


::-webkit-scrollbar-thumb:hover {
    background-color:#b06a42;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}

/*плеер*/

div#beon-fnplayer {
    padding: 10px;
    background: transparent;
}

#fnplayer-slider > span { 
    font-size: 0px!important;  
} 

#fnplayer-slider {
    height: 4px;
    background-color: #877d66!important;
}

#fnplayer-slider-inner {
    height: 4px;
    width: 0%;
    background-color: #f8ebe175;
}

#fnplayer-volume {
    height: 4px;
    background-color: #f8ebe12e;
}

#fnplayer-volume-inner {
    height: 4px;
    width: 100%;
    background-color: #f8ebe1!important;
    border: none;
}

#fnplayer-volume-mask {
    border:none!important;
}

 #fnplayer-stop {
    display:none;
}

#fnplayer-play {
    border-color: transparent transparent transparent #c79477!important;
    margin-right: -6px;
}


/*моб версия*/

@media (max-width: 700px) { 

main.py-4 {
    border: 10px double #c7947750!important;
}

div.crumbs:after {
    background-size: cover!important;
}

.post-avatar img {
    width: 70px!important;
    object-fit: cover;
}

.comment-content {
    padding: 5px!important;
}

 div.left-menu {
    border-right: none!important;
}

.left-menu, .content {
    width: 100%!important;
}

main.py-4 {
    padding: 0px!important;
}

.menu__box {
    background-color: #f8ebe1;
    margin-top: 50px!important;
    width: 70%!important;
    height: 80%!important;
    border: 1px solid #c7947796;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background-color: #c79477;
}

.menu__item {
    font-family: 'Lora', serif;
    color: #f8ebe1;
}

.emj-dropdown-content {
    width: 80%!important;
}

[href="#footer"]:before {
    position: absolute;
    margin-left: 40px!important;
    margin-top: -20px!important;
}

.comment-text+div {
    padding: 15px!important;
}
    
.small-text+div { 
    margin-left: auto !important;
    flex-direction: column; 
    align-items: flex-end;
}
    
.col-12, .col-md-6 {
    padding-right: 0;
}
    
.fas, .far, .tag_bar > * {
    font-size: 0.9rem!important;
    padding: 0rem!important;
}
    
span.comments_count span::before {
    font-size: 13px!important;
}

span.comments_count a {
    font-size: 13px!important;
}

 .post-title, h1 {
    display: block;
}

.fa-chevron-down:before {
    font-size: 12px;
    margin-top: -8px!important;
}
