.avatars-fullscreen-link-wrapper {
    background: #ffffff;
    border-right: 1px solid #6cabdc;
    border-top: 1px solid #6cabdc;
    border-bottom: 1px solid #6cabdc;
}

 #avatars-fullscreen-modal .modal-content {
    max-height: 90vh;
    width: 60%;
    margin: auto;
}

.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    width: 90px;
    margin: 2px;
    filter: grayscale(0);
    border: 1px solid #6cabdc;
    transition: 0.3s;
}

 
.avatar-select-label-selected {
    width: 100px;
    border: 1px solid #6cabdc;
    filter: grayscale(0);
    transition: 0.3s;
}

.user:before,
.blog:before,
.post-content .fa-link:before,
.pagination-goto,
[src="/i/access.png"],
[src="/i/topic_options.png"],
[src="/i/podcast.png"],
[src="//beon.fun/i/offline.png"],
[src="//beon.fun/i/design-off.png"],
.post-content.blog_total_counter,
.footer__infolinks.p-1,
div#page__admincontact.text-center,
div#footer.p-1,
div#page__rendertime.p-1 {
    display: none;
}

/*-----*/

::selection {
    color: #005ac0;
    background: #bbe6ff;
}

a {
    color: #005ac0!important;
    text-decoration: unset;
}

a:hover,
.text-primary:hover {
    color: #e8accb!important;
    text-decoration: unset;
}

div {
    color: #005ac0;
}

input {
    border: 1px solid #6cabdc!important;
    background: #fff;
    color: #005ac0;
}

div#app {
    width: 65%;
    margin: auto;
    margin-top: 45px;
}

body {
    background: linear-gradient(0deg, #dff3fd, #edf5fb) fixed;
    background-size: cover;
}

/*верх*/

.shadow-sm {
    box-shadow: none !important;
}

.navbar-expand-md>.container-fluid {
    border: 2px dashed #bbdef9;
    padding: 15px 0;
}

.bg-white {
    background: #fff;
    padding: 15px;
    border-radius: 20px !important;
    border: 1px solid #6cabdc !important;
}

.bg-white:before {
    content: '';
    position: absolute;
    top: -50px;
    width: 147px;
    height: 62px;
    background: url(https://i1.beon.fun/53/92/9253/22/1835522/verh3.png) no-repeat;
    background-size: 147px;
}

a.navbar-brand,
.m2 {
    color: #005ac0!important;
    margin-left: 10px;
}

a.navbar-brand:hover {
    color: #e8accb!important;
}

.pc-menu a  {
    color: #005ac0!important;
}

.pc-menu a:hover {
    color: #e8accb!important;
}

[style="color: red; font-weight: bold;"] {
    color: #005ac0!important;
}

/*меню*/

.notifications__comments.left-menu__user-notification,
.left-menu__user-notification.left-menu__unread-message {
    margin-top: 60px !important;
}


.left-menu__user-notification.left-menu__unread-notifications,
.left-menu__user-notification,
.blog__about,
.blog__gifts,
.blog__read-me,
.community__moders,
.community__members,
.blog__tags {
    background: #fff;
    border-left: 1px solid #6cabdc;
    border-right: 1px solid #6cabdc;
    border-bottom: 1px solid #6cabdc;
    border-radius: 20px;
    padding-bottom: 5px;
    margin-top: 31px!important;
    margin-bottom: 40px !important;
}


[href="/design/disable"] {
    font-weight: bold;
    color: #e8accb!important;
}

[href="/design/disable"]:hover {
    font-weight: bold;
    color: #005ac0!important;
}

.left-menu__friends.left-menu__friends_offline,
.left-menu__user-notification.left-menu__friends,
.blog__iread,
.community__moders,
.community__members,
.blog__last-comments,
.blog__refferers {
    display: none;
}

.left-menu__user-notification.left-menu__unread-notifications > div {
    padding-left: 5px!important;
}

.py-4 {
    flex-direction: row-reverse;
}

.py-4 + .crumbs  {
    display:none;
}

.crumbs {
    margin-top: 15px !important;
    margin: auto;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 20px;
}

.crumb-item {
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    float: none;
    font-weight: bold;
    padding-bottom: 10px;
    color: #e8accb;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.left-menu {
    width: 338px;
    border: 1px solid #6cabdc00!important;
    background: #fff0;
    margin-right: 0 !important;
    margin-top: -31px;
    overflow-x: unset !important;
}

h3.left-menu-text {
    background: #fff !important;
    font-size: 18px;
    color: #005ac0;
    border-top: 1px solid #6cabdc !important;
    border-bottom: 1px solid #6cabdc !important;
    border-radius: 15px 15px 0 0;
}

h3.left-menu-text:before {
    display: block;
    content: '';
    width: 100px !important;
    height: 40px;
    background: url(https://i1.beon.fun/53/92/9253/98/1835598/zagolovki-menyu2.png) no-repeat right !important;
    background-size: 100px !important;
    margin-top: -30px;
    margin-left: 190px !important;
}

.notifications__comments.left-menu__user-notification h3.left-menu-text,
.left-menu__user-notification.left-menu__unread-notifications h3.left-menu-text,
.left-menu__user-notification h3.left-menu-text {
    margin-top: -30px!important;
}

/*посты*/

.container-fluid.post-content.p-3 {
    margin: auto!important;
}

.post-content {
    margin: 0 10px 20px 0 !important;
    border: 1px solid #6cabdc!important;
    background: #fff;
    padding: 0 10px 7px 7px;
    border-radius: 20px;
}

.post-content, .comment-content {
    min-height: 0;
}

.post-content.post-page {
    padding-top: 5px;
}

.post-text a,
.comment-text a,
.text-primary {
    color: #e8accb!important;
    text-decoration: unset;
    
    &:hover {
        color: #005ac0!important;
        text-decoration: unset;
}
}

.comment-content {
    min-height: 0!important;
    margin: 0 10px 20px 0!important;
    border: 1px solid #6cabdc!important;
    background: #fff;
    padding-left: 7px;
    padding-right: 10px;
    padding-bottom: 7px;
    border-radius: 10px;
}

span.comments_count {
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
}

span.comments_count a {
    content: '';
    padding: 20px 30px;
    text-align: center;
    bottom: -5px;
    width: 105px;
    height: 50px;
    background: url(https://i1.beon.fun/53/92/9253/42/1834542/kommy.png) no-repeat;
    background-size: 105px;
}

.comment-box h2 {
    margin-left: 10px;
}

.post-title, h1 {
    text-decoration: unset;
    font-size: 22px;
}

.post-title-user {
    font-size: 15px;
}

.post-header {
    margin-left: 0 !important;
}

.post-avatar {
    margin-left: 0 !important;
    padding: 3px;
    margin-right: 7px!important;
}

.fa-chevron-down:before {
    font-size: 12px;
}

.datebg {
    content: '';
    /* display: block; */
    /* position: absolute; */
    width: 200px;
    height: 120px;
    background: url(https://i1.beon.fun/53/92/9253/96/1834796/data.png) no-repeat center bottom;
    background-size: 200px;
    background-color: #0000;
    font-size: 10px;
    text-align: center;
    margin-top: -35px;
    margin-bottom: 10px;
    margin-left: 0!important;
    padding: 78px 5px 0px 0px;
}

.post-title-date,
.sign,
.post__tags-list,
.small-text,
.fa-lock-open:before {
    color: #005ac0!important;
}

.tag:before {
    content: '#';
    font-size: 12px;
    margin-right: 2px;
    color: #005ac0;
}

.blog__tags a:before {
    content: '#';
    font-size: 12px;
    color: #005ac0;
}

span.post-title-date+span {
    font-size: 10px;
}

.col-md-6.text-right {
    padding-left: 0!important;
    padding-right: 0!important;
}

span.comments_count span {
    font-size: 0;
}

span.comments_count span:after {
    content: "\f075";
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    padding-left: 0;
}

span.comments_count {
    font-size: 12px;
}

/*форма*/

.textareabg {
    border: 1px solid #6cabdc!important;
    background: #fff;
    margin-right: 10px;
    margin-left: 0!important;
    padding: 7px !important;
    border-radius: 20px;
}

.textarea-wrapper > textarea {
    border: 1px solid #6cabdc!important;
    background: #fff;
    color: #005ac0;
    border-radius: 7px;
}

form.messageform .w-100 {
    border-radius: 7px;
}

input.w-100.input-mood,
input.w-100.input-music,
input.w-100.input-want,
input.w-100.input-tags,
select,
select.w-100 {
    border: 1px solid #6cabdc!important;
    background: #fff;
    color: #005ac0;
}

.alert {
    border: 1px solid #6cabdc!important;
    background: #fee8f1c4!important;
    color: #005ac0!important;
    border-radius: 10px!important;
}

.quotation {
    border-left: 6px double #005ac0;
    background: linear-gradient(45deg, #005ac040, transparent);
    padding-top: 0!important;
}

/*кнопки*/

input[type=submit]:nth-child(1),
input[type=submit]:nth-child(2),
input[type=submit]:nth-child(3),
input[type=submit]:nth-child(7),
input[type=submit]:nth-child(20),
input[type=button]:nth-child(21),
input[type=submit]:nth-child(22),
input[type=submit]:nth-child(25),
input[type=submit]:nth-child(26),
input[type=submit]:nth-child(27),
input[type=submit]:nth-child(23),
input[type=submit]:nth-child(24),
#submitpreview {
    border-radius: 10px;
}


span[data-target="#deleteconfirmmodal"],
[onclick="deleteComment(this)"] { /*кнопка удалить в постах и коммах*/
    color: #005ac0!important;
    border-radius: 10px;
}

span[data-target="#deleteconfirmmodal"]:hover,
[onclick="deleteComment(this)"]:hover {
    color: #e8accb!important;
    text-decoration: unset;
}

.comment-content span[data-target="#deleteconfirmmodal"],
[onclick="deleteComment(this)"],
span.repostbutton,
span.bookmarkbutton,
span.complaintbutton,
span.fast-quote {
    color: #005ac0!important;
}

.comment-content span[data-target="#deleteconfirmmodal"]:hover,
[onclick="deleteComment(this)"]:hover,
span.repostbutton:hover,
span.bookmarkbutton:hover,
span.complaintbutton:hover,
span.fast-quote:hover {
    color: #e8accb!important;
}

.liked .fas, .reposted .fas, .bookmarked .fas {
    color: #e8accb!important;
}

a.btn.btn-primary,
a.btn.btn-secondary,
a.btn.btn-outline-primary.mb-2.w-100,
a.btn.btn-outline-primary.mb-3,
button.btn.btn-secondary,
button.btn.btn-primary {
    border: 1px solid #6cabdc!important;
    background: #fff;
    color: #005ac0;
    border-radius: 10px!important;
}

a.btn.btn-primary:hover,
a.btn.btn-secondary:hover,
a.btn.btn-outline-primary.mb-2.w-100:hover,
a.btn.btn-outline-primary.mb-3:hover,
button.btn.btn-secondary:hover,
button.btn.btn-primary:hover {
    border: 1px solid #6cabdc!important;
    background: #feedf4!important;
    color: #005ac0!important;
    border-radius: 10px!important;
}

input[type=submit]:nth-child(1):hover,
input[type=submit]:nth-child(2):hover,
input[type=submit]:nth-child(3):hover,
#submitpreview:hover,
input[type=submit]:nth-child(7):hover,
input[type=submit]:nth-child(20):hover,
input[type=button]:nth-child(21):hover,
input[type=submit]:nth-child(22):hover,
input[type=submit]:nth-child(23):hover,
input[type=submit]:nth-child(24):hover,
 input[type=submit]:nth-child(25):hover,
input[type=submit]:nth-child(26):hover,
input[type=submit]:nth-child(27):hover {
    border: 1px solid #6cabdc!important;
    background: #fee8f1c4!important;
    color: #005ac0!important;
}

/*кнопки вверх-вниз*/

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before { /*вверх*/
    content: '\25B2';
    font-size: 16px;
    width: 30px;
    height: 30px;
    position: fixed;
    border: 1px solid #6cabdc!important;
    background: #fff;
    color: #005ac0;
    padding-left: 6px;
    padding-bottom: 2px;
    border-radius:10px;
    left: 20px;
    bottom: 52.5%;
    z-index: 8;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
    border: 1px solid #6cabdc!important;
    background: #feedf4!important;
    color: #005ac0!important;
    transition: 0.3s;
}

[href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before { /*вниз*/
    content: '\25BC';
    font-size: 16px;
    width: 30px;
    height: 30px;
    position: fixed;
    left: 20px;
    bottom: 48.5%;
    border: 1px solid #6cabdc!important;
    background: #fff;
    color: #005ac0;
    padding-left: 6px;
    padding-top: 2px;
    border-radius:10px;
    z-index: 7;
    transition: 0.3s;
}

[href="#footer"]:hover:before { 
    border: 1px solid #6cabdc!important;
    background: #feedf4!important;
    color: #005ac0!important;
    transition: 0.3s;
}

/*авы*/

.avatars-fullscreen-link-wrapper {
    background: #ffffff;
    border-right: 1px solid #6cabdc;
    border-top: 1px solid #6cabdc;
    border-bottom: 1px solid #6cabdc;
}

 #avatars-fullscreen-modal .modal-content {
    max-height: 90vh;
    width: 60%;
    margin: auto;
}

.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    width: 90px;
    margin: 2px;
    filter: grayscale(0);
    border: 1px solid #6cabdc;
    transition: 0.3s;
}

 
.avatar-select-label-selected {
    width: 100px;
    border: 1px solid #6cabdc;
    filter: grayscale(0);
    transition: 0.3s;
}

/* скролл */

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #6cabdc;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #e6f4fc;
    background-color: #6cabdc;
    min-height: 24px;
    min-width: 24px;
}

::-webkit-scrollbar-track {
    border: 8px solid #e6f4fc;
    background-color: #6cabdc;
}

@media (max-width: 1366px) {

div#app {
    width: 85%;
    margin: auto;
    margin-top: 45px;
}

.left-menu {
    width: 30.1%;
}
}


@media (max-width: 700px) {

div#app {
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

.py-4 {
    flex-direction: column!important;
    width: 100%!important;
}

.datebg {
    margin-left: 10px !important;
}

.left-menu {
    width: 95%;
    margin-left: 10px !important;
    margin-bottom: 10px !important;
    overflow-x: unset!important;
}

.left-menu__user-notification.left-menu__friends,
.blog__iread,
.blog__last-comments,
.community__moders,
.community__members,
.blog__refferers {
    display: none!important;
}

.post-header {
    font-size: 12px;
}

.post-title-user {
    font-size: 14px;
}

.post-content,
.comment-content,
.textareabg {
    margin-left: 10px !important;
}

.avatar-select-label {
    width: 73px!important;
    margin-top: 2px;
    border: 1px solid #6cabdc;
    transition: 0.3s;
}

.avatar-select-label-selected {
    width: 78px!important;
    border: 1px solid #6cabdc;
    transition: 0.3s;
}

#avatars-fullscreen-modal .modal-body img {
    max-width: unset;
}

.avatars-fullscreen-link-wrapper {
    width: 98% !important;
    margin: auto;
    border: 1px solid #6cabdc;
}

#avatars-fullscreen-modal .modal-content {
    max-height: 80vh!important;
    width: 100%;
    margin: auto;
}

.post-avatar img {
    width: 75px !important;
}

/*кнопки вверх-вниз*/

[href="#footer"]:before { /*вниз*/
    content: '\25BC';
    font-size: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    color: #005ac0;
    top: 31px;
        left: 75%;

    border: 1px solid #6cabdc00!important;
    background: #ffffff00!important;
    border-radius:0px;
    z-index: 7;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before { /*вверх*/
    content: '\25B2';
    font-size: 30px;
    width: 30px;
    height: 30px;
    position: sticky;
    color: #005ac0;
    right: 20px;
    bottom: 15px;
    border: 1px solid #6cabdc00!important;
    background: #ffffff00!important;
    border-radius:0px;
    right: 20px;
    bottom: 67px;
    z-index: 8;
    transition: 0.3s;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background: #005ac0;
}

.menu__btn {
    margin-right: 10px;
}

.menu__box {
    border: 1px solid #6cabdc !important;
    background: #fff;
}

.fa-heart:before,
.fa-retweet:before,
.fa-bookmark:before,
.fa-trash-alt:before,
.fa-exclamation-triangle:before,
.fa-quote-left:before,
.fa-lock-open:before,
.fa-step-backward:before,
.fa-step-forward:before,
.fa-smile-wink:before,
.fa-tags:before,
.fa-align-justify:before,
.fa-align-center:before,
.fa-align-right:before,
.fa-image:before,
.fa-cloud-upload-alt:before,
.fa-clipboard:before,
.fa-music:before,
.fa-video:before,
.fa-user:before,
.fa-book:before,
.fa-link:before,
.fa-paragraph:before,
.fa-remove-format:before,
.tag_bar > span,
.fa-external-link-alt:before {
    font-size: 13px;
}

.fa-angle-down:before {
    font-size: 15px;
}

span.comments_count a {
    font-size: 14px;
}

.fas, .far, .tag_bar > * {
    padding: 0!important;
}

.left-menu > div.mobile_open_menu > h3 {
    color: #005ac0;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 0 0 2px 0 !important;
    border: 1px solid #6cabdc !important;
    border-radius: 15px;
    margin-top: 60px;
}

.crumbs {
    padding: 0 10px!important;
}

.bg-white,
.crumbs {
    width: 95%;
    border-radius: 10px;
}

a.navbar-brand, .m2 {
    margin-left: 10px !important;
}

.blog__last-comments,
.blog__iread,
.left-menu__friends.left-menu__friends_offline,
.left-menu__user-notification.left-menu__friends {
    margin-bottom: 10px;
    border-left: 1px solid #6cabdc!important;
    border-right: 1px solid #6cabdc!important;
    border-bottom: 1px solid #6cabdc!important;
    background: #fff;
    border-radius: 15px;
    margin-top: 60px;
}

.left-menu:before {
    display: none;
}

span.comments_count span::before {
    display: none!important;
}
}
