@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');*/

* {
 font-family: "Manrope", sans-serif;
}

div#footer, .footer__infolinks, #page__admincontact, div#page__rendertime, .text-center {
    font-size:0;
}

.post-text.flex-grow-1 p span
/*.post-text.flex-grow-1 span,
.comment-text.flex-grow-1 span*/ {
    font-size: 0.8em!important;
}

a.post-title-user[href="//beon.fun/users/karenhale"],
a.post-title-user[href="//beon.fun/users/karenhale"]:hover
{
    font-size: 0px!important;
}

a.post-title-user[href="//beon.fun/users/karenhale"]:after {
    content: 'дитя Луны';
    font-size: 11px;
    transition: 0.69s;
}

body.bodybg {
    background: #13151b;
}

a {
    color: #9fa8ff;
}

a:hover {
    text-decoration: unset;
    color: #5a49d0!important;
}

input {
    background: #13151b;
    color: #d2d2d2!important;
    border: 1px solid #b3bbff1a !important;
    border-radius: 10px;
    color: #9fa8ff;
    margin-top: 5px;
}

input:hover {
    color: #9fa8ff!important;
}

input.w-100 {
    border: 1px solid #b3bbff1a !important;
    border-radius: 10px;
}


div {
    color: #d2d2d2;
}

/*меню*/

main.py-4 {
    max-width: 1300px;
    margin: auto;
}

.py-4 {
  display: flex;
  flex-direction: row-reverse
}

div.left-menu {
    border: 1px solid #0000!important;
    margin-top: 10px;
}

.left-menu {
    width: 26%!important;
}

.left-menu__friends.left-menu__friends_offline,
.blog__read-me, 
.blog__iread, 
.blog__last-comments{
    display: none;
}

h3.left-menu-text {
    background: #5a5aff0d !important;
    border: 1px solid #9ba5ff2e !important;
    padding: 5px 5px !important;
    color: #d0d3ff !important;
    border-radius: 12px !important;
    text-align: center;
    font-size: 18px;
}

p.left-menu-text {
    padding-top: 5px;
}

.blog__about,
.blog__gifts,
.blog__tags,
.notifications__comments.left-menu__user-notification,
.left-menu__user-notification.left-menu__unread-message,
.left-menu__user-notification.left-menu__unread-notifications {
    margin-bottom: 10px!important;
    background: #0d0f15!important;
    border-left: 1px solid #b3bbff1a !important;
    border-right: 1px solid #b3bbff1a !important;
    border-bottom: 1px solid #b3bbff1a !important;
    border-radius: 12px;
    padding-bottom: 15px!important;
}

.left-menu__user-notification.left-menu__unread-message p {
    padding-top: 10px!important;
}

.left-menu__user-notification.left-menu__unread-notifications>div {
    padding-left: 5px!important;
}

h3.left-menu-text {
    text-align: center!important;
}

.blog__tags a {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-weight: 250;
    /*font-size: 12px!important;*/
}

.tag:before {
    content: '#';
}

/*посты*/

.post-content.blog_total_counter,
a.user::before,
a.blog::before,
img.flag {
    display: none;
}

.post-content, .comment-content {
    background: #0d0f15;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px;
    padding: 12px;
}

.comment-header,
.post-header {
    margin-left: 5px;
}

.post-title {
    text-decoration: unset;
    font-size: 20px;
}

span.post-title-date+span {
    font-size:10px;
}

.post-title-date,
.post__tags-list,
.small-text {
    color: #d2d2d2!important;
}

.post-avatar img {
    border: 1px solid #b3bbff2e !important;
    padding: 5px;
    border-radius: 7px;
}

.post-content.post-page,
.comment-box {
    margin: 10px 10px 20px
}

.sign {
    color: #d2d2d2!important;
    padding-top: 3px;
}

span[data-target="#deleteconfirmmodal"],
[onclick="deleteComment(this)"] {
    color: #9fa8ff!important;
}

span[data-target="#deleteconfirmmodal"]:hover,
[onclick="deleteComment(this)"]:hover {
    color: #5a49d0!important;
    text-decoration: unset;
}

/*a.user.post-title-user {
     font-size: 14px!important
}*/

.quotation {
    color: #d2d2d2!important;
    font-size: 12px;
    border-left: 8px double #9fa8ffb8!important;
    background: linear-gradient(90deg, #9fa8ffb8, transparent)!important;
}

/*шапка*/

.m2 {
    color: #d2d2d2!important;
}

[style="color: red; font-weight: bold;"] { /*"О!"*/
    color:#9fa8ff!important;
}

.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm {
    background: #0000!important;
    max-width: 1340px;
    margin: auto;
}

a.navbar-brand,
.pc-menu,
.pc-menu a {
    color: #9fa8ff!important;
}

a.navbar-brand:hover,
.pc-menu a:hover {
    color: #5a49d0!important;
}

/*крамбс*/

div.crumbs {
    background: #0000!important;
    max-width: 1275px;
    margin: auto;
    padding: 0;
    padding-top: 10px;
}

/*иконки*/

.fa-trash-alt:before { /*корзиночка в коммах*/
    color: #d2d2d2!important;
}

.liked .fas, .reposted .fas, .bookmarked .fas { /*лайк/репост/избранное в коммах*/
    color: #9fa8ff!important;
}

/*форма*/

.textareabg {
    background: #0000!important;
}

.textarea {
    background: #13151b;
    color: #d2d2d2!important;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px;
    margin-right: 5px;
}

.textarea-wrapper > textarea {
    background: #13151b!important;
    color: #d2d2d2!important;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px!important;
}

input.w-100.input-mood,
input.w-100.input-music,
input.w-100.input-want,
input.w-100.input-tags,
select.w-100,
input#uploadimagepicker.custom-file-input,
select#upload-img-size,
select#upload-img-align,
select#addtag-img-size,
select#addtag-img-align,
select.cb_img-size,
select.cb_img-align {
    background: #13151b!important;
    color: #d2d2d2!important;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px!important;
}


.tag_bar > span {
    font-size: 12px!important;
    padding: 2px!important;
}

.modal-content {
    background: #13151b;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px!important;
}

.modal-footer {
    border-top: 1px solid #b3bbff1a !important;
}

.modal-header {
    border-bottom: 1px solid #b3bbff1a !important;
}

/*кнопки в модалке*/

p.clipboard-image-field {
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px!important;
}

a.btn.btn-outline-primary.mb-2,
a.btn.btn-outline-primary.mb-3 { /*с синей рамкой*/
    color: #9fa8ff!important;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px!important;
}

a.btn.btn-outline-primary.mb-2:hover,
a.btn.btn-outline-primary.mb-3:hover { 
    background: #5a5aff0d !important;
    color: #5a49d0!important;
    border: 1px solid #5a49d0!important;
}

button.btn.btn-secondary { /*"вставить" на загрузке по ссылке*/
    background: #5a5aff0d !important;
    color: #d0d3ff !important;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px!important;
}

button.btn.btn-secondary:hover { 
    background: #5a5aff0d !important;
    color: #5a49d0 !important;
    border: 1px solid #5a49d0!important;
    border-radius: 12px!important;
}

button.btn.btn-primary { /*"отмена" на загрузке по ссылке*/
    background: #d0d3ff !important;
    color: #0d0f15!important;
    border: 1px solid #5a49d0!important;
    border-radius: 12px!important;
}

button.btn.btn-primary:hover {
    background: #5a5aff0d !important;
    color: #5a49d0 !important;
    border: 1px solid #5a49d0!important;
    border-radius: 12px!important;
}


/*раскрытие аватаров*/

.avatar-select-list::-webkit-scrollbar-track {
    border: 7px solid #cdcdcd;
    background-color: #202020;
}

.avatar-select-list::-webkit-scrollbar-thumb {
    border: 7px solid #cdcdcd;
    background-color: #202020;
}


.avatars-fullscreen-link-wrapper {
    background: #13151b;
    width: 87%;
}

.avatars-fullscreen-link-wrapper a {
    color: #d2d2d2!important;
}

 #avatars-fullscreen-modal .modal-content {
    max-height: 90vh;
    width: 60%;
    margin: auto;
}

.avatar-select-list {
    background: transparent;
    text-align: center;
    overflow-y: scroll;
}

.avatar-select-label {
    width: 90px;
    margin: 2px;
    filter: grayscale(0);
    border: 1px solid #adadad;
    transition: 0.3s;
}

 
.avatar-select-label-selected {
    width: 100px;
    border: 1px solid #9fa8ff;
    filter: grayscale(0);
    transition: 0.3s;
}

/*кнопки вверх-вниз*/

[href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before { /*вниз*/
    content: '\25BC';
    background: #0d0f15;
    border: 1px solid #b3bbff1a;
    font-size: 17px;
    position: fixed;
    border-radius: 7px !important;
    color: #d2d2d2;
    width: 28px;
    height: 28px;
    padding-left: 5px;
    left: 1%;
    top: 47%;
    transition: 0.3s;
    z-index: 1;
}

[href="#footer"]:hover:before { 
    color: #fff!important;
  transition: 0.3s;
}


[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before { /*вверх*/
    content: '\25B2';
    background: #0d0f15;
    border: 1px solid #b3bbff1a;
    font-size: 17px;
    position: fixed;
    border-radius: 7px !important;
    color: #d2d2d2;
    width: 28px;
    height: 28px;
    padding-left: 5px;
    left: 1%;
    top: 43%;
    z-index: 2;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
    color: #fff!important;
    transition: 0.3s;
}

/*скролл*/

::-webkit-scrollbar {
    background-color: #0d0f15;
}

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
}

::-webkit-scrollbar-thumb {
    border: 5px solid #0d0f15;
    background-color: #d2d2d2;
    min-height: 24px;
    min-width: 24px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    border: 5px solid #0d0f15;
    background-color: #0d0f15;
}

/*алерт*/

.alert {
    background: #13151b!important;
    color: #d2d2d2;
    border: 1px solid #b3bbff1a !important;
    border-radius: 12px;
}

/*-----*/

div.container-fluid.post-content.p-3 {
    margin: 10px 10px 20px -10px!important;
}

.post-content {
    margin: 10px 10px 20px 10px!important;
}

/*размер шрифта*/

div.comment-content {
    font-size: 12px!important;
}

h5 {
    font-size: 16px!important;
}

h4 {
    font-size: 18px!important;
}

.sign {
    font-size: 9px!important;
}

.tag:before {
    content: '#';
    font-size: 12px;
    color: #a7a5a5;
}

a.tag {
    font-size: 11px;
}

span.post-title-date+span   {
    font-size:9px;
}

.post__tags-list {
    font-size: 10px!important;
}

 [class="post-opt col-12 col-md-6"] span, .post-opt a, [onclick="deleteComment(this)"]  {
    font-size: 10px!important;
}

.post-opt [style="font-size: 1rem;"] {
    font-size: 10px!important;
}

h3.left-menu-text {
    font-size: 16px;
}

.left-menu > div {
    font-size: 12px;
}

.left-menu > div > h3 {
    font-size: 14px;
}

form#messageform {
    font-size: 12px;
}

.post-opt.col-12.col-md-6 a {
    font-size: 10px!important;
}

.post-content {
    font-size: 12px;
}


.post-content.blog_total_counter h2 {
    font-size: 0px;
}

h2, .comment-box__message-partial.comment-content {
/*font-family: "WDXL Lubrifont TC", sans-serif;*/
    font-size: 16px;
}

.post-title-date {
    font-size: 9px;
}

#usermenu a {
     /*font-family: "WDXL Lubrifont TC", sans-serif;*/
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.post-title, h1 {
    font-size: 16px;
}

/*a.user.post-title-user {
    font-size: 11px!important;
}*/

.post-title-user {
    font-size: 11px;
}

a.navbar-brand {
    font-size: 20px;
}

.m2 {
    font-size: 8px;
}

.pc-menu a {
    font-size: 9px;
}

 .datebg {
    font-size: 14px;
}

.pagination,
.pagination>a {
    font-size: 12px!important;
}



.crumb-item, .crumbs  a {
    font-size: 14px;
}

.alert-success {
    font-size: 15px;
}

.modal-content {
    font-size: 12px;
}

div#newpostform div, form.messageform p  {
    font-size: 12px;
}

input, select, .btn-outline-primary, .textareabg input[type="submit"], .textareabg input[type="button"], .left-menu-text input[type="submit"], button.btn.btn-secondary, button.btn.btn-primary, .left-menu [type="submit"], .left-menu [onclick="markUnreadDialog()"], input.w-100.input-tags, input.w-100.input-mood, input.w-100.input-music, input.w-100.input-want {
    font-size: 12px;
}

textarea {
    font-size: 12px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
}


@media(max-width: 700px) {
.py-4 {
    flex-direction: column!important;
}

div.left-menu {
    width: 100%!important;
    padding: 10px;
}

div.crumbs {
    padding-left: 10px;
    padding-right: 10px;
}

#avatars-fullscreen-modal .modal-body img {
    max-width: unset;
}

.avatars-fullscreen-link-wrapper {
    width: 100%!important;
}

#avatars-fullscreen-modal .modal-content {
    width: 100%;
    margin: auto;
}

.avatar-select-label {
    width: 70px!important;
    margin: 2px;
    filter: grayscale(0);
    border: 1px solid #adadad;
    transition: 0.3s;
}

.avatar-select-label-selected {
    width: 85px!important;
    border: 1px solid #9fa8ff;
    filter: grayscale(0);
    transition: 0.3s;
}

/*размер шрифта*/


.menu__item {
        font-size: 14px;
 }

 .left-menu > div.mobile_open_menu > h3 {
        font-size: 14px;
 }

.fas, .far {
    font-size: 0.9rem!important;
}

 .col-12  {
    font-size: 0.80rem;
}

span.comments_count span::before {
    font-size: 12px!important;
}

span.comments_count a {
    font-size: 14px!important;
}


.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background: #9fa8ff!important;
}

.menu__box {
    background: #13151b;
    border: 1px solid #b3bbff1a !important;
    border-radius: 20px;
    margin-top: 5px;
}

.menu__item {
    color: #d2d2d2;
}

[href="#footer"]:before {
    content: '\25BC';
    position: absolute;
    right: 15%!important;
    left: 80%!important;
    top: 10%!important;
    color: #d2d2d2!important;
    border: none;
    background: none;
    font-size: 25px;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before { 
    content: '\25B2';
    position: sticky;
    color: #d2d2d2!important;
    margin-left: 290px!important;
    border: none;
    background: none;
    font-size: 25px;
}
}
