/*основа*/

/*div [data-target="#deleteconfirmmodal"]*/
div [style="display: flex; justify-content: space-between;"] {
    font-size: 13px;
}

.small-text {
    color: #3c5a23;
    font-size: 9px;
}

div.post-content.blog_total_counter,
#footer,
div.footer__infolinks.p-1,
div#page__rendertime.p-1,
.user:before,
.blog:before,
div#page__admincontact.text-center {
    display: none;
}

.user:before {
    background-image: url(https://i1.beon.fun/19/64/6419/49/1430849/dlya-nika.png);
    background-size: 12px 12px;
    display: inline-block;
    content: "";
    width: 12px;
    height: 12px;
}

div.m2 {
    color: #3c5a23!important;
}

span.pagination-goto {
    font-size: 0;
}

a {
    color: #657e35;
    transition: 0.7s;
}

div {
    transition: 0.7s;
}

a:hover {
    text-decoration: none!important;
    color:#3c5a23!important;
    text-shadow: 0 0 3px #3c5a23;
}

input {
    background: #ffffff00;
    border: 1px solid #3c5a23;
    color: #3c5a23!important;
    margin-bottom: 15px;
}

button {
    background: #ffffff00;
    border: 1px solid #3c5a23;
    color: #3c5a23!important;
}

input:hover, 
button:hover {
    background: #ffffff;
    border: 1px solid #3c5a23;
    color: #3c5a23!important;
}

/*кнопки*/

button.btn.btn-secondary { /*отмена в загрузке изображений*/
    background: #ffffff!important;
    border: 1px solid #3c5a23!important;
    color: #3c5a23!important;
    border-radius: 0;
}

button.btn.btn-secondary:hover {
    background: #ffffff!important;
    border: 1px solid #f4dbb6!important;
    color: #f3c5a23!important;
    border-radius: 0;
}

.btn-outline-primary { /*остальные кнопки с синим контуром*/
    background: #ffffff00!important;
    border: 1px solid #3c5a23!important;
    color: #3c5a23!important;
    border-radius: 0;
}

button#upload-confirm-button.btn.btn-primary { /*ок в загрузке изображений*/
    background: #ffffff!important;
    border: 1px solid #3c5a23!important;
    color: #3c5a23!important;
    border-radius: 0;
}

button#upload-confirm-button.btn.btn-primary:hover {
    background: #ffffff!important;
    border: 1px solid #3c5a23!important;
    color: #f3c5a23!important;
    border-radius: 0;
}

.btn-primary { /*отмена в остальных окнах*/
    background: #ffffff!important;
    border: 1px solid #3c5a23!important;
    color: #3c5a23!important;
    border-radius: 0;
}

.btn-primary:hover { 
    background: #ffffff!important;
    border: 1px solid #3c5a23!important;
    color: #f3c5a23!important!;
    border-radius: 0;
}

/*кнопки редактирования и т.п*/

.row.w-100 [href*="/repost/post/"], .row.w-100 span[data-target="#deleteconfirmmodal"], [href^="//beon.fun/repost/post/"], [href^="//beon.fun/repost/comment/"], .post-opt [href$="/edit"], .comment-row span[data-target="#deleteconfirmmodal"], .post-opt span[data-target="#deleteconfirmmodal"], [onclick="deleteComment(this)"] {
    text-align: center;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
}

.post-opt.col-12.col-md-6 [href$="/edit"]:before, .post-opt [href$="/edit"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #3c5a23;
}

[href^="//beon.fun/repost/post/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #3c5a23;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, .post-opt span[data-target="#deleteconfirmmodal"]:before, .comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #3c5a23;
}

[href^="//beon.fun/repost/comment/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #3c5a23;
}

[onclick="deleteComment(this)"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #3c5a23;
}

/*-------*/

body.bodybg {
    background: url(https://i1.beon.fun/19/64/6419/62/1424862/fon.png) no-repeat center fixed;
}

div#app {
    padding: 0;
}

div#app:before {
    content: '';
    height: 300px;
    display: block;
    background: url(https://i1.beon.fun/19/64/6419/43/1424943/verh.png) no-repeat  top center fixed;
}

main.py-4 {
    width: 70%;
    margin: auto;
}

.py-4 {
    display: flex;
    flex-direction: row-reverse;
}

/*посты*/

div.comment-box {
    padding-left: 10px;
    padding-right: 10px;
}

div.comment-box h2 {
    padding-left: 10px;
    padding-right: 10px;
    color: #3c5a23;
}

.comment-content {
    background: linear-gradient(90deg, #6c872a20, #f5f1ee80);
    padding: 5px;
    color: #3c5a23;
}


div.comment-base {
    margin-left: 7px;
}

div.post-content {
    padding: 5px;
}

.post-content {
    background: linear-gradient(-90deg, #6c872a50, #f5f1ee80);
    color: #3c5a23!important;
}

div.post-content.post-page {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}


.post-title {
    text-decoration: unset;
    margin-left: 5px;
}


.datebg {
    background: linear-gradient(90deg, #6c872a30, transparent);
    color: #3c5a23;
}

span.post-title-date+span {
    font-size:10px;
}

.post-title-user {
    font-size: 0.9rem;
}

.post-text {
    padding-left: 7px;
}


div.post-opt.col-12.col-md-6 a,
span[data-target="#deleteconfirmmodal"] {
    color: #3c5a23!important;
}

div.post-opt.col-12.col-md-6 a:hover,
span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: none!important;
    text-shadow: 0 0 3px #3c5a23;
}

.row.w-100,
.comment-text+div {
    position: sticky;
    top: 100%;
}

span.comments_count span {
    font-size: 0;
}

span.comments_count span:before {
    content: '\f075';
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    padding-left: 3px;
}

div.post-opt {
    padding-left: 7px;
}

.post-opt {
    color: #3c5a23!important;
}

div.post__tags-list {
    color: #3c5a23!important;
    font-size: 10px;
}

.row {
    margin-left: 0;
    align-items: flex-end;
}

.tag:before {
    content: '#';
    font-size: 12px;
    color: #3c5a23;
}


div.post-header {
    margin-left: 0!important;
    margin-right: 0;
}

.fa-heart:before,
.fa-retweet:before, 
.fa-bookmark:before,
.fa-exclamation-triangle:before,
.fa-quote-left:before,
.fa-step-backward:before,
.fa-step-forward:before {
    font-size: 13px;
}

.fa-lock-open:before {
    font-size: 9px;
}

.fa-heart:hover,
.fa-retweet:hover, 
.fa-bookmark:hover,
.fa-exclamation-triangle:hover,
.fa-quote-left:hover,
[onclick="deleteComment(this)"]:hover {
    color: #3c5a23;
    text-shadow: 0 0 3px #3c5a23;
}

/*цитата*/

.quotation {
    border-left: 3px solid #3c5a23;
    background: linear-gradient(91deg, #3c5a2333 20%, transparent 62%);
}

/*лайки*/


.liked .fas, .reposted .fas, .bookmarked .fas {
    color: #3c5a23!important;
    text-shadow: 0 0 3px #3c5a23;
}

/*аватары*/

.post-avatar img {
    width: 80px;
    margin-left: 10px;
    margin-top: 5px;
}

.post-avatar a:before{
    transition: all 1s ease-in;
    background-image: url(https://i1.beon.fun/19/64/6419/68/1430868/dlya-avatarov2.png);
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: 110px 110px;
    background-position: top center;
    background-repeat: no-repeat;
}

.sign {
    font-size: 10px;
    text-align: center;
    color: #3c5a23;
    padding: 5px 0;
    /*border: 3px solid #ffffff;*/
}

.avatar-select-label {
    width: 90px;
    border: 2px solid #3c5a23;
    margin-top: 3px;
    margin-right: 3px;
    transition: 0.2s;
}

.avatar-select-label-selected {
    width: 100px;
    border: 2px solid #f4dbb6;
    transition: 0.2s;
}

/*кнопка аватаров*/

.avatars-fullscreen-link-wrapper {
    background: #f5f2ee;
    width: 90%!important;
}

.avatars-fullscreen-link-wrapper a {
    color: #3c5a23;
}

#avatars-fullscreen-modal .modal-content {
    height: 700px;
    width: 50%!important;
    margin: auto;
    background: #ffffff!important;
}

/*алерт*/

.alert {
    background: #ffffff00!important;
    color: #3c5a23;
    border: 1px solid #ffffff00;
    border-radius: 0px;
}

/*форма*/

.textareabg {
    background: linear-gradient(90deg, #6c872a20, #f5f1ee80);
    padding: 7px;
}

.emj-dropdown-content {
    background: #ffffff;
    width: 30%;
    height: 30%;
    max-height: 200px;
    border: 1px solid #f4dbb6;
}


/*меню*/


div.left-menu__friends.left-menu__friends_offline,
.left-menu__user-notification.left-menu__friends,
.blog__iread,
.blog__last-comments,
.blog__gifts {
    display: none;
}


span.post-title-date.pl-0,
span.post-title-date {
    color: #3c5a23;
}

.blog__about [href="/design/disable"] {
    color: #3c5a23!important;
    font-weight: bold;
}

div.left-menu {
    width: 30%;
    margin-left: 10px;
    margin-top: 10px;
    border: solid 1px #ffffff00;
    background: linear-gradient(180deg, #6c872a50, #f5f1ee80);
}

h3.left-menu-text {
    background: #ffffff00!important;
    color: #3c5a23;!important;
    text-align: center;
    padding-right: 5px;
}

div.left-menu-text {
    color: #3c5a23;
}


div.left-menu__user-notification.left-menu__unread-message img {
    width: 80px;
}

div.left-menu__user-notification.left-menu__unread-message img.flag {
    display: none;
}

/*верх*/


.container-fluid {
    width: 97%;
    padding-left: 5px;
    margin-left: 10px;
}

div.container-fluid.post-content.p-3 {
    margin: 10px!important;
    max-width: 99%;
}

div.crumbs {
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(180deg, #6c872a30, transparent);
    max-width: 69%;
    margin: 20px auto 10px;
    color: #3c5a23;
}

/*.crumbs {
    background: linear-gradient(180deg, #6c872a30, transparent);
}*/

.bg-white {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0)!important;
    max-width: 69%;
    background: linear-gradient(0deg, #6c872a30, transparent);
    margin-top: -210px!important;
    padding: 10px;
}

a.navbar-brand {
    color: #3c5a23!important;
}

div#navbarSupportedContent.navbar-collapse a,
div#navbarSupportedContent.navbar-collapse {
    color: #3c5a23!important;
}

[style="color: red; font-weight: bold;"] {
    color:#f4dbb6!important;
}

/*кнопки вверх/вниз*/

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]{font-size:0px;} 
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before { /*вверх*/
    content: '\1F815';
    font-size: 30px;
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #3c5a23;
    color: #3c5a23;
    position: fixed;
    line-height: 1.2;
    height: 35px;
    width: 35px;
    right: 20px;
    padding-left: 9px;
    bottom: 92px;
    background: linear-gradient(180deg, #6c872a30, #f5f1ee80);
}

[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]{font-size:0px;}
[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]:before { /*вниз*/
    content: '\1F817';
    font-size: 30px;
    /*background: #ffffff;*/
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #3c5a23;
    color: #3c5a23;
    position: fixed;
    line-height: 1.2;
    height: 35px;
    width: 35px;
    right: 20px;
    bottom: 45px;
    padding-left: 9px;
    background: linear-gradient(0deg, #6c872a30, #f5f1ee80);
}

/* скролл */

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #f5f2ee;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #f5f2ee;
    background-color: #f4dbb6;
    min-height: 24px;
    min-width: 24px;
}

::-webkit-scrollbar-track {
    border: 8px solid #f5f2ee;
    background-color: #3c5a23;
}

/*мобка*/

@media (max-width: 700px) {

body.bodybg {
    background: url(https://i1.beon.fun/19/64/6419/62/1424862/fon.png) no-repeat left fixed;
}

main.py-4 {
    width: 100%!important;
    margin: auto;
}

.py-4 {
    flex-direction: column!important;
}

div.left-menu {
    width: 100%!important;
    margin-left: 0;
}

h3.left-menu-text {
    background: #ffffff00!important;
    color: #3c5a23!important;
    text-align: center;
    padding-right: 5px;
}


.blog__last-comments,
.blog__iread {
    display: none!important;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background: #3c5a23;
}

.menu__box {
    background: #cbd5b6;
    color: #3c5a23;
}

.emj-dropdown-content {
    width:85%!important;
}

div.tag_bar span,
.fa-align-justify:before,
.fa-align-center:before,
.fa-align-right:before,
.fa-image:before,
.fa-cloud-upload-alt:before,
.fa-clipboard:before,
.fa-music:before,
.fa-video:before,
.fa-user:before,
.fa-book:before,
.fa-link:before,
.fa-remove-format:before,
.fa-retweet:before, 
.fa-bookmark:before,
.fa-exclamation-triangle:before,
.fa-quote-left:before {
    font-size: 15px;
}

.tag_bar > span {
    margin-right: 10px;
}

#avatars-fullscreen-modal .modal-content {
    height: 700px;
    width: 100%!important;
    margin: auto;
    background: #ffffff!important;
}

#avatars-fullscreen-modal .modal-body img {
    max-width: unset;
}

.avatars-fullscreen-link-wrapper {
    width: 90%!important;
}

[href="#footer"]:before { /*вниз*/
    content: '\25BC';
    position: absolute;
    left: 73%!important;
    top: 22px!important;
    color: #3c5a23!important;
    transform: rotate(0deg);
    border: 1px solid #00000000;
    background: #00000000;
}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before { /*вверх*/
    content: '\25B2';
    position: sticky;
    color: #3c5a23!important;
    font-size: 30px;
    border: 1px solid #00000000;
    background: #00000000;
}

.fa-heart:before {
    font-size: 12px;
}

/*кнопки редактировать и прочее*/

.row.w-100 [href*="/repost/post/"], .row.w-100 span[data-target="#deleteconfirmmodal"], [href^="//beon.fun/repost/post/"], [href^="//beon.fun/repost/comment/"], .post-opt [href$="/edit"], .comment-row span[data-target="#deleteconfirmmodal"], .post-opt span[data-target="#deleteconfirmmodal"], [onclick="deleteComment(this)"], .fa-trash-alt:before {
    text-align: center;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
}

.post-opt.col-12.col-md-6 [href$="/edit"]:before, .post-opt [href$="/edit"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #3c5a23;
}

[href^="//beon.fun/repost/post/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #3c5a23;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, .post-opt span[data-target="#deleteconfirmmodal"]:before, .comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #3c5a23;
}

/*------*/

.post-opt.col-12.col-md-6 [href$="/edit"]:before, .post-opt [href$="/edit"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #3c5a23;
}

[href^="//beon.fun/repost/post/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #3c5a23;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, .post-opt span[data-target="#deleteconfirmmodal"]:before, .comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #3c5a23;
}

[href^="//beon.fun/repost/comment/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #3c5a23;
}

[onclick="deleteComment(this)"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #3c5a23;
}


.post-content {
    padding: 5px!important;
    width: 97%;
    margin: 5px!important;
    border: 5px solid #f6f3f0!important;
}

.bg-white {
    max-width: 97%;
    margin-left: 5px!important;
    margin-right: 5px!important;
    padding: 17px;
    margin-top: -210px!important;
}

a.navbar-brand {
    margin-left: -23px;
}

.m2 {
    margin-left: -20px;
}


.crumbs {
    max-width: 97%!important;
    margin: 15px 0 5px 5px!important;
}

div.post-content.post-page {
    margin-right: 10px;
}

.textareabg {
    padding: 4%!important;
}
}

@media (max-width: 540px) {
span.comments_count a {
    font-size: 0.9rem;
}
}
