@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: "IBM Plex Serif", serif;
}

/*основа*/

div#app {
    padding: 0;
}

div.post-content.blog_total_counter,
#footer,
div.footer__infolinks.p-1,
div#page__rendertime.p-1,
.user:before,
.blog:before,
div#page__admincontact.text-center {
    display: none;
}

a {
    color: #000000;
    text-decoration: unset!important;
    transition: 0.7s;
}

div {
    text-decoration: unset!important;
    transition: 0.7s;
}

a:hover {
    text-decoration: none!important;
    color:#000!important;
    text-shadow: 0 0 3px #000;
}

input {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000!important;
    margin-bottom: 15px;
}

 button {
    background: #ffffff;
    border: 1px solid #000000;
    color: #000000!important;
}

input:hover, 
button:hover {
    background: #ffffff;
    border: 1px solid #878585;
    color: #878585!important;
}

body.bodybg {
    background: url(https://i1.beon.fun/19/64/6419/72/1449172/fon2.png) no-repeat center fixed;
    /*background-size: contain;*/
}

.content {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 41px;
    background: #fff;
}

main.py-4 {
    margin: auto;
    padding-top: 0!important;
    padding-bottom: 0!important;
    max-width: 1000px;
}

/*меню*/

div.left-menu {
    width: 49%;
    margin: auto;
    padding-left: 5px;
}

.left-menu__unread-message img {
    margin-top: -8px;
    width: 7%;
    height: 7%;
    /*object-fit: cover;*/
    /*border: 2px solid #1b2a18;
    background: #cad1ca ;*/
    padding: 6px;
}

.left-menu__user-notification.left-menu__unread-message img+p {
    overflow: auto;
    line-height: normal;
    /*max-height: 50px;*/
    margin-top: 8px;
} 

div.left-menu__user-notification.left-menu__unread-message img.flag {
    display: none;
}

.left-menu__user-notification.left-menu__unread-notifications div {
    background: #fff!important;
}

.left-menu > div.left-menu__user-notification {
    border-bottom: 1px solid #000;
}

.text-center img {
    border:1px solid #1b2a18;
}

.readertime {
    color: #000;
}

p.left-menu-text {
    margin-bottom: 0;
}

.blog__about.mb-3 {
    margin-bottom: 0!important;
}

.left-menu h3 {
    display: block;
}


.left-menu::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}


h3.left-menu-text {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    color: #000 !important;
    background: #fff!important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center !important;
    /*font-family: "19192";*/
}

.left-menu > div {
    border-left:1px solid #000;
    border-right:1px solid #000;
    background: #fff;
}

div.left-menu {
    border: none;
    border-bottom: 1px solid #2d3728;
    margin-right: auto;
    margin-bottom: auto;
    background: #fff;
}

div.left-menu:before{
    padding-top: 4px;
    content: 'Меню';
    display: block;
    height: 32px;
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #000;
    line-height: 1;
    background: #fff;
    /*font-family: "19192";*/
    cursor: help;
    z-index: 5;
}

.left-menu {
    max-height: 32px;
    transition: 0.5s cubic-bezier(0.57, 0.06, 0.29, 0.97);
    transition-delay: 1s;
}

.left-menu:hover {
    max-height: 450px;
    transition: 0.5s cubic-bezier(0.57, 0.06, 0.29, 0.97);
    transition-delay: 0.2s;
}


div.left-menu {
    font-size: 14px;
    text-align: center;
    line-height: normal;
}

.left-menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    max-width: inherit;
    width: 100%;
    z-index: 5;
    padding: 0px 1% 2% 1%;
    overflow-x: hidden;
}

.blog__about [href="/design/disable"]:after {
    content: "отключить дизайн";
    position: absolute;
    top: 8px;
    font-size: 12px;
    right: 16px;
    padding: 0 5px;
    color: #000000;
    border-radius: 5px;
    /*border: 1px solid #232e1e96;
    background: #e9e9e985;
    opacity: 0.7;*/
    z-index: 5;
    transition: 0.3s;
    text-shadow: 0 0 2px #000000ab;
}
 
.blog__about [href="/design/disable"]:hover:after {
    opacity: 1;
    transition: 0.3s;
}

/*посты*/

.alert {
    background: #fff0;
    color: #000;
    border: 1px solid #0000;
}

.small-text {
    color: #000;
     padding-left: 10px;
}

div [style="display: flex; justify-content: space-between;"] { /*удалить все комменты и отписаться\подписаться*/
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-box {
    padding: 0 17px;
}

.post-content, .comment-content {
    min-height: auto;
    margin-top: 0!important;
    padding-top: 0!important;
}

.post-content {
    padding: 15px;
    margin: 10px 10px 10px;
}

div.post-header {
    margin-left: 5px;
}

.post-title, h1 {
    font-weight: 100;
    max-width: 98.3%;
    margin: auto;
    display: block;
    font-size: 23px;
    /*font-family: "19192";*/
    text-align: center;
    padding-top: 2px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.post-title-user {
    margin-left: 125px;
    /*font-family: "19192";*/
    color: #000000 !important;
    font-size: 16px;
    letter-spacing: 1px;
}

.post-text {
    padding: 0 5px 0 10px;
}

.post__tags-list {
    color: #000!important;
}

.post-text a,
.comment-text a {
    color:#878585!important;
}

.post-text a:hover,
.comment-text a:hover {
    text-decoration: none!important;
    color:#000!important;
    text-shadow: none;
}

/*-----*/

.tag:before {
    content: '#';
    font-size: 12px;
    color: #000000;
}

a.tag {
    color: #000!important;
    text-shadow: none!important;
}

.col-12 {
    padding-left: 0;
    text-shadow: none!important;
}

span.emj-dropdown {
    padding: 0;
}

.emj-dropdown-content {
    background: #ffffff;
    height: 300px;
    border: 1px solid #000;
}

/*аватары*/

.post-avatar {
    margin-top: -20px;
    margin-left: 13px!important;
    padding: 3px;
    padding-bottom: 0;
    display: table;
    width: 1px;
    min-width: 30px;
    border: 1px solid #000;
}

.avatar-select-label {
    width: 90px;
    border: 2px solid #00000000;
    margin-top: 3px;
    margin-right: 3px;
    transition: 0.2s;
}

.avatar-select-label-selected {
    width: 100px;
    border: 2px solid #000;
    transition: 0.2s;
}

/*кнопка аватаров*/

.avatars-fullscreen-link-wrapper {
    background: #ffffff;
    width: 82%!important;
}

.avatars-fullscreen-link-wrapper a {
    color: #000000;
}

#avatars-fullscreen-modal .modal-content {
    height: 700px;
    width: 50%!important;
    margin: auto;
    background: #ffffff!important;
}

.sign {
    color: #878585;
}

/*-------*/

.datebg {
    margin: 0;
    padding-right: 70px;
    font-size: 10px;
    /*font-family: "19192";*/
    text-align: right;
}

.post-title-date {
    color: #000;
}

span.post-title-date+span {
    font-size: 10px;
    letter-spacing: 0.5px;
    color: #878585;
}

.crumbs {
    max-width: 1000px;
    margin: auto;
    background: #ffffff;
}

.pagination-goto {
    color: #878585;
}

/*верх*/

.bg-white {
    top: 0;
    background-color: #fff;
    max-width: 1000px;
    z-index: 1;
    box-shadow: none!important;
}

.pc-menu {
    display:none;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #000;
}

.m2 {
    color:#878585;
}

.hamburger-menu {
    display: block;
    position: absolute;
    right: 25px;
    top: 18px;
    height: 35px;
    border-radius: 50px;
    border: 5px solid #ffffff00;
    z-index: 1;
}

.menu__box {
    z-index: 1;
    display: block;
    position: fixed;
    visibility: hidden;
    top: 100px;
    right: -100%;
    width: 250px;
    height: 50%;
    margin: 0;
    padding: 10px 0px;
    list-style: none;
    background-color: #ffffff;
    box-shadow:none;
    /*border: 2px solid #ffeff5;*/
    transition-duration: .25s;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 192px;
}

ul.menu__box::-webkit-scrollbar {
    width: 0px;
}

a.menu__item {
    color: #000;
    line-height: 1.4;
    padding: 0px;
    font-size: 15px;
    text-align: center;
    font-weight: 100;
    /*font-family: "19192";*/
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    width: 25px;
    background: #000;
    height: 2px;
}

.menu__item:hover {
    background-color: #000;
    color: #fff!important;
    transition-duration: unset;
    transition: 0.2s;
}

/*кнопки вверх/вниз*/

[onclick="window.scroll({top: 0,behavior: 'smooth'})"] {
    font-size: 0px;
    text-shadow: unset !important;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:before { /*вверх*/
    content: '\25B2';
    font-size: 16px;
    width: 30px;
    height: 30px;
    position: fixed;
    color: #272727;
    left: 20px;
    bottom: 15px;
    border: 1px solid #fff;
    background: #ffffff;
    padding-left: 6px;
    padding-bottom: 2px;
    right: 20px;
    bottom: 67px;
    z-index: 8;
    transition: 0.3s;
}

[onclick="window.scroll({top: 0,behavior: 'smooth'})"]:hover:before { 
    color: #000!important;
    background:#ccc;
    transition: 0.3s;
}

 [href="#footer"] { 
    font-size: 0px;
}

[href="#footer"]:before { /*вниз*/
    content: '\25BC';
    font-size: 16px;
    width: 30px;
    height: 30px;
    position: fixed;
    color: #272727;
    left: 20px;
    bottom: 25px;
    border: 1px solid #fff;
    background: #ffffff;
    padding-left: 6px;
    padding-top: 2px;
    z-index: 7;
    transition: 0.3s;
}

[href="#footer"]:hover:before { 
    color: #000!important;
    background:#ccc;
    transition: 0.3s;
}

/*кнопки*/

button.btn.btn-secondary { /*отмена в загрузке изображений*/
    background: #ffffff!important;
    border: 1px solid #000000!important;
    color: #000000!important;
    border-radius: 0;
}

button.btn.btn-secondary:hover { /*отмена в загрузке изображений*/
    background: #ffffff!important;
    border: 1px solid #0000003d!important;
    color: #0000003d!important;
    border-radius: 0;
}

.btn-outline-primary { /*остальные кнопки с синим контуром*/
    background: #ffffff!important;
    border: 1px solid #000000!important;
    color: #000000!important;
    border-radius: 0;
}

button#upload-confirm-button.btn.btn-primary { /*ок в загрузке изображений*/
    background: #0000003d!important;
    border: 1px solid #000000!important;
    color: #000000!important;
    border-radius: 0;
}

button#upload-confirm-button.btn.btn-primary:hover {
    background: #ffffff!important;
    border: 1px solid #0000003d!important;
    color: #000000!important;
    border-radius: 0;
}

.btn-primary { /*отмена в остальных окнах*/
    background: #0000003d!important;
    border: 1px solid #000000!important;
    color: #000000!important;
    border-radius: 0;
}

.btn-primary:hover { /*отмена в остальных окнах*/
    background: #ffffff!important;
    border: 1px solid #0000003d!important;
    color: #f0000003d!important!;
    border-radius: 0;
}

/*кнопки редактирования и т.п*/

.row.w-100 [href*="/repost/post/"], .row.w-100 span[data-target="#deleteconfirmmodal"], [href^="//beon.fun/repost/post/"], [href^="//beon.fun/repost/comment/"], .post-opt [href$="/edit"], .comment-row span[data-target="#deleteconfirmmodal"], .post-opt span[data-target="#deleteconfirmmodal"], [onclick="deleteComment(this)"] {
    text-align: center;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
}

.post-opt.col-12.col-md-6 [href$="/edit"]:before, .post-opt [href$="/edit"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #000000;
}

[href^="//beon.fun/repost/post/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #000000;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, .post-opt span[data-target="#deleteconfirmmodal"]:before, .comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #000000;
}

[href^="//beon.fun/repost/comment/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #000000;
}

[onclick="deleteComment(this)"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #000000;
}

div.post-opt.col-12.col-md-6 a:hover,
span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: none!important;
    text-shadow: 0 0 3px #00000097;
}

.row.w-100,
.comment-text+div {
    position: sticky;
    top: 100%;
}

.row {
    margin-left: 0;
    align-items: flex-end;
}

span.comments_count span {
    font-size: 0;
}

span.comments_count a {
    color: #000!important;
}

span.comments_count span:before {
    color: #000!important;
    content: '\f075';
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    padding-left: 3px;
}

/*-------*/

.fa-heart:before,
.fa-retweet:before, 
.fa-bookmark:before,
.fa-exclamation-triangle:before,
.fa-quote-left:before,
.fa-step-backward:before,
.fa-step-forward:before,
.fa-lock-open:before {
    font-size: 13px;
}

.fa-heart:hover,
.fa-retweet:hover, 
.fa-bookmark:hover,
.fa-exclamation-triangle:hover,
.fa-quote-left:hover {
    color: #9e9eef;
}

/*цитата*/

.quotation {
    border-left: 3px solid #000;
    padding-top: 0;
}

/*форма*/

.textareabg {
    background: #fff;
    margin: 10px;
    padding: 25px!important;
}

/* скролл */

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #fff;
    background-color: #000;
    min-height: 24px;
    min-width: 24px;
}

::-webkit-scrollbar-track {
    border: 8px solid #fff;
    background-color: #000000;
}

@media (max-width: 1023px) {

.left-menu > div.left-menu__user-notification {
    border-bottom: 1px solid #000;
}
}

@media  (max-width: 840px), (max-width: 700px) {

div.left-menu {
    width: 100%;
    padding-left: 0;
}

.left-menu {
    position: unset!important;
}

div.left-menu:before, .blog__about [href="/design/disable"]:after, .fa-angle-down:before {
    display:none!important;
}

.left-menu {
    max-height: unset!important;
    overflow: unset!important;
}

.left-menu > div.mobile_open_menu > h3 {
        color: #000!important;
        background: #fff;
        font-size: 20px !important;
}

.menu__box {
    right: 0!important;
    top: 150px;
    border: 1px solid #000;
}

span.comments_count a {
    font-size: 15px;
}

.fa-trash-alt:before {
    display: none;
}

.post-avatar {
    margin-top: 0;
    margin-left: 0!important;
}

.post-avatar img {
    width: 85px;
}

.post-title-user {
    margin-left: 0;
}

.avatars-fullscreen-link-wrapper {
    background: #ffffff;
    width: 100%!important;
}

#avatars-fullscreen-modal .modal-content {
    width: 100%!important;
}

.fa-chevron-down:before {
    font-size: 12px;
}

[href="#footer"]:before { /*вниз*/
    content: '\25BC';
    font-size: 30px;
    position: absolute;
    left: 73%!important;
    top: 10px!important;
    color: #000000!important;
}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before { /*вверх*/
    content: '\25B2';
    position: sticky;
    color: #000000!important;
    font-size: 30px;
    padding-right: 10px;
}

div.tag_bar span,
.fa-smile-wink:before,
.fa-align-justify:before,
.fa-align-center:before,
.fa-align-right:before,
.fa-image:before,
.fa-cloud-upload-alt:before,
.fa-clipboard:before,
.fa-music:before,
.fa-video:before,
.fa-user:before,
.fa-book:before,
.fa-link:before,
.fa-remove-format:before,
.fa-retweet:before, 
.fa-bookmark:before,
.fa-exclamation-triangle:before,
.fa-quote-left:before {
    font-size: 15px;
}
}
