/*основа*/

div.post-content.blog_total_counter,
#footer,
div.footer__infolinks.p-1,
div#page__rendertime.p-1,
.user:before,
.blog:before,
div#page__admincontact.text-center {
    display: none;
}

span.pagination-goto {
    font-size: 0;
}

a {
    color: #fac193;
    transition: 0.7s;
}

div {
    transition: 0.7s;
}

a:hover {
    text-decoration: none!important;
    color:#190c01!important;
}

input {
    background: #492f21;
    border: 1px solid #fac193;
    color: #fac193!important;
    margin-bottom: 15px;
}

 button {
    background: #492f21;
    border: 1px solid #fac193;
    color: #fac193!important;
}

input:hover, 
button:hover {
    background: #492f21;
    border: 1px solid #ffede4;
    color: #190c01!important;
}

/*кнопки*/

button.btn.btn-secondary { /*отмена в загрузке изображений*/
    background: #492f21!important;
    border: 1px solid #fac193!important;
    color: #fac193!important;
    border-radius: 0;
}

.btn-outline-primary { /*остальные кнопки с синим контуром*/
    background: #492f21!important;
    border: 1px solid #fac193!important;
    color: #fac193!important;
    border-radius: 0;
}

button#upload-confirm-button.btn.btn-primary { /*ок в загрузке изображений*/
    background: #492f21!important;
    border: 1px solid #fac193!important;
    color: #fac193!important;
    border-radius: 0;
}

button#upload-confirm-button.btn.btn-primary:hover {
    background: #492f21!important;
    border: 1px solid #ffede4!important;
    color: #190c01!important;
    border-radius: 0;
}

.btn-primary { /*отмена в остальных окнах*/
    background: #492f21!important;
    border: 1px solid #fac193!important;
    color: #fac193!important;
    border-radius: 0;
}

.btn-primary:hover { /*отмена в остальных окнах*/
    background: #492f21!important;
    border: 1px solid #ffede4!important;
    color: #190c01!important!;
    border-radius: 0;
}

/*кнопки редактирования и т.п*/

.row.w-100 [href*="/repost/post/"], .row.w-100 span[data-target="#deleteconfirmmodal"], [href^="//beon.fun/repost/post/"], [href^="//beon.fun/repost/comment/"], .post-opt [href$="/edit"], .comment-row span[data-target="#deleteconfirmmodal"], .post-opt span[data-target="#deleteconfirmmodal"], [onclick="deleteComment(this)"] {
    text-align: center;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
}

.post-opt.col-12.col-md-6 [href$="/edit"]:before, .post-opt [href$="/edit"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #fac193;
}

[href^="//beon.fun/repost/post/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #fac193;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, .post-opt span[data-target="#deleteconfirmmodal"]:before, .comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #fac193;
}

[href^="//beon.fun/repost/comment/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #fac193;
}

[onclick="deleteComment(this)"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #fac193;
}

/*-------*/

body.bodybg {
    background: url(https://i1.beon.fun/19/64/6419/37/1587837/fon.png) no-repeat fixed;
}

main.py-4 {
    width: 70%;
    margin: auto;
}

.py-4 {
    display: flex;
    flex-direction: row-reverse;
}

/*посты*/

.small-text,
div.left-menu__user-notification.left-menu__unread-message {
    color: #fac193;
}

div.pc-menu,
.pc-menu a {
    color: #fac193!important;
}

.pc-menu a:hover {
    color: #190c01!important;
}

div.comment-box,
div.comment-box h2 {
    padding-left: 10px;
    padding-right: 10px;
}

.comment-content {
    background: #504236c7;
    border: solid 3px #3a2d25;
    padding: 13px
}

.post-content { 
    background: #504236c7;
    border: solid 3px #3a2d25;
    padding: 7px;
    color: #fac193;
}

div.post-content {
    margin: 4px 0 10px 10px!important;
    padding-right: 35px;
}

div.post-content.post-page {
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px;
}

.post-title {
    text-decoration: unset;
}

h1 {
    color: #fac193;
}


span.post-title-date+span {
    font-size:10px;
}

.datebg {
    color: #fac193;
}

.post-title-user {
    font-size: 0.9rem;
}

.post-text {
    padding-left: 7px;
}

.post-text a,
.post-text i,
.comment-text,
.comment-text a {
    color:#fac193!important;
}

.post-text a:hover,
.comment-text a:hover {
    text-decoration: none!important;
    color:#190c01!important;
}

div.post-opt.col-12.col-md-6 a,
span[data-target="#deleteconfirmmodal"] {
    color: #fac193!important;
}

div.post-opt.col-12.col-md-6 a:hover,
span[data-target="#deleteconfirmmodal"]:hover {
    text-decoration: none!important;
    text-shadow: 0 0 3px #fac193;
}

.row.w-100,
.comment-text+div {
    position: sticky;
    top: 100%;
    color: #fac193;
}

span.comments_count span {
    font-size: 0;
}

span.comments_count span:before {
    content: '\f075';
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    padding-left: 3px;
}

div.post-opt {
    padding-left: 7px;
}

.post-opt,
div.post__tags-list {
    color: #fac193!important;
}

.row {
    margin-left: 0;
    align-items: flex-end;
}

.tag:before {
    content: '#';
    font-size: 12px;
    color: #fac193;
}

div.comment-header {
    padding-bottom: 22px;
}

div.post-header,
div.post-header {
    margin-right: 22px;
}

.fa-heart:before,
.fa-retweet:before, 
.fa-bookmark:before,
.fa-exclamation-triangle:before,
.fa-quote-left:before,
.fa-step-backward:before,
.fa-step-forward:before,
.fa-lock-open:before {
    font-size: 13px;
}

.fa-heart:hover,
.fa-retweet:hover, 
.fa-bookmark:hover,
.fa-exclamation-triangle:hover,
.fa-quote-left:hover {
    color: #190c01;
}

/*цитата*/

.quotation {
    border-left: 3px solid #fac193;
    background: linear-gradient(91deg, #ffede433 20%, transparent 62%);
}

/*лайки*/

/*.fa-heart:before,
.fa-chevron-down:before {
    color: #fac193;
}*/

.liked .fas, .reposted .fas, .bookmarked .fas {
    color: #3a2d25!important;
}

/*.likebutton {
    color: #fac193!important;
}*/

/*аватары*/

.post-avatar img {
    border: 4px solid #3a2d25;
    transform: rotate(354deg);
    /*filter: grayscale(0) drop-shadow(0px -1px 2px #fac19340);*/
}

.sign {
    font-size: 10px;
    text-align: center;
    color: #fac193;
    padding: 5px 0;
}

.avatar-select-label {
    width: 90px;
    border: 2px solid #fac193;
    margin-top: 3px;
    margin-right: 3px;
    /*filter:grayscale(1) ;*/
    transition: 0.2s;
}

.avatar-select-label-selected {
    width: 100px;
    border: 2px solid #3a2d25;
    transition: 0.2s;
}

/*кнопка аватаров*/

.avatars-fullscreen-link-wrapper {
    background: #ffffff;
    width: 86%!important;
}

.avatars-fullscreen-link-wrapper a {
    color: #fac193;
}

#avatars-fullscreen-modal .modal-content {
    height: 700px;
    width: 50%!important;
    margin: auto;
    background: #ffffff!important;
}

/*алерт*/

.alert {
    background: #00000065;
    color: #fac193;
    border: 1px solid #ffffff00;
}

/*форма*/

.textareabg {
    background: #504236c7;
    padding: 2%!important;
    margin: 0 10px 0 10px!important;
    border: 3px solid #3a2d25;
    color: #fac193;
}

.tag_bar {
    color: #fac193;
}


.emj-dropdown-content {
    background: #ffffff;
    width: 30%;
    height: 30%;
    max-height: 200px;
    border: 1px solid #3a2d25;
}


/*меню*/

div.left-menu__friends.left-menu__friends_offline,
.left-menu__user-notification.left-menu__friends,
.blog__iread,
.blog__last-comments,
.blog__gifts {
    display: none;
}


.left-menu {
    background: url(https://i1.beon.fun/19/64/6419/47/1587847/menyu2.png) no-repeat top #6f5238;
    padding: 20px;
    margin-bottom: 10px;
}

span.post-title-date.pl-0,
span.post-title-date {
    color: #fac193;
}

.blog__about [href="/design/disable"] {
    color: #ffede4!important;
}

.blog__about [href="/design/disable"]:hover {
    color: #190c01!important;
}

div.left-menu {
    width: 30%;
    margin-left: 10px;
    margin-top: 4px;
    border: solid 3px #3a2d25;
}

.left-menu-text {
    color: #fac193;
}

h3.left-menu-text {
    background: #ffffff00!important;
    color: #fac193!important;
    text-align: center;
    padding-right: 5px;
}


/*верх*/


.container-fluid {
    width: 97%;
    padding-left: 5px;
    margin-left: 10px;
}

div.container-fluid.post-content.p-3 {
    padding-right: 30px!important;
    margin: 10px!important;
    max-width: 99%;
}

div.crumbs {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 69%;
    margin: 20px auto 10px;
    border: solid 3px #3a2d25;
}

.crumbs {
    background: url(https://i1.beon.fun/19/64/6419/38/1587838/navigaciya.png) no-repeat;
    color: #fac193;
}

span.crumb-item {
    color: #fac193;
}

.crumb span {
    color: #ffede4!important;
}

.crumb span:hover {
    color: #fac193!important;
}

.bg-white {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,0)!important;
    max-width: 69%;
    margin: auto;
    background: url(https://i1.beon.fun/19/64/6419/39/1587839/shapka.png) no-repeat;
    padding: 1%;
    border: solid 3px #3a2d25;
}

.navbar-brand,
.m2 {
    color: #fac193!important;
}

[style="color: red; font-weight: bold;"] {
    color:#fac193!important;

}

/*кнопки вверх/вниз*/

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]{font-size:0px;} 
[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before { /*вверх*/
    content: '\21B6';
    color: #fac193;
    font-size: 30px;
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 23px;
    position: fixed;
    line-height: 0.1;
    height: 45px;
    width: 45px;
    right: 1.5%;
    top: 92.3%;
    transform: rotate(180deg);
    text-shadow: 1px 1px 1px #fff0;
}

[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]{font-size:0px;}
[onclick="event.preventDefault();window.scroll({top: document.body.scrollHeight,behavior: 'smooth'})"]:before { /*вниз*/
    content: '\21B6';
    font-size: 30px;
    /*background: #ffffff;*/
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
    /*border: 1px solid #dddddd;*/
    color: #fac193;
    padding: 23px;
    position: fixed;
    line-height: 0.3;
    height: 45px;
    width: 45px;
    right: 5%;
    top: 92%;
}

/* скролл */

::-webkit-scrollbar {
    width: 17px;
    height: 17px;
    background-color: #3a2d25;
}

::-webkit-scrollbar-thumb {
    border: 6px solid #3a2d25;
    background-color: #3d2a1e;
    min-height: 24px;
    min-width: 24px;
}

::-webkit-scrollbar-track {
    border: 8px solid #3a2d25;
    background-color: #fac193;
}

/*мобка*/

@media (max-width: 700px) {

main.py-4 {
    width: 97%!important;
    margin: auto;
}

.py-4 {
    flex-direction: column!important;
}

div.left-menu {
    width: 100%!important;
    margin-left: 0;
}

h3.left-menu-text {
    background: #ffffff00!important;
    color: #fac193!important;
    text-align: center;
    padding-right: 5px;
}


.blog__last-comments,
.blog__iread {
    display: none!important;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    background: #fac193;
}

.menu__box {
    background: #504236;
    border: 2px solid #3a2d25;
}

.menu__item {
    color: #fac193;
}

.emj-dropdown-content {
    width:85%!important;
}

div.tag_bar span,
.fa-align-justify:before,
.fa-align-center:before,
.fa-align-right:before,
.fa-image:before,
.fa-cloud-upload-alt:before,
.fa-clipboard:before,
.fa-music:before,
.fa-video:before,
.fa-user:before,
.fa-book:before,
.fa-link:before,
.fa-remove-format:before,
.fa-trash-alt:before,
.fa-retweet:before, 
.fa-bookmark:before,
.fa-exclamation-triangle:before,
.fa-quote-left:before {
    font-size: 15px;
}

.tag_bar > span {
    margin-right: 10px;
}

#avatars-fullscreen-modal .modal-content {
    height: 700px;
    width: 100%!important;
    margin: auto;
    background: #ffffff!important;
}

#avatars-fullscreen-modal .modal-body img {
    max-width: unset;
}

.avatars-fullscreen-link-wrapper {
    width: 90%!important;
}

[href="#footer"]:before { /*вниз*/
    content: '\25BD';
    position: absolute;
    left: 73%!important;
    top: 13px!important;
    color: #fac193!important;
}

[style="float:right;cursor:pointer;text-shadow: 1px 1px 1px white;"]:before { /*вверх*/
    content: '\25B3';
    position: sticky;
    color: #fac193!important;
    font-size: 30px;
}

.fa-heart:before {
    font-size: 12px;
}

/*кнопки редактировать и прочее*/

.row.w-100 [href*="/repost/post/"], .row.w-100 span[data-target="#deleteconfirmmodal"], [href^="//beon.fun/repost/post/"], [href^="//beon.fun/repost/comment/"], .post-opt [href$="/edit"], .comment-row span[data-target="#deleteconfirmmodal"], .post-opt span[data-target="#deleteconfirmmodal"], [onclick="deleteComment(this)"] {
    text-align: center;
    overflow: hidden;
    font-size: 0;
    cursor: pointer;
}

.post-opt.col-12.col-md-6 [href$="/edit"]:before, .post-opt [href$="/edit"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #fac193;
}

[href^="//beon.fun/repost/post/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #fac193;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, .post-opt span[data-target="#deleteconfirmmodal"]:before, .comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #fac193;
}

/*------*/

.post-opt.col-12.col-md-6 [href$="/edit"]:before, .post-opt [href$="/edit"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f044";
    color: #fac193;
}

[href^="//beon.fun/repost/post/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #fac193;
}

.post-opt.col-12.col-md-6 [data-target="#deleteconfirmmodal"]:before, .post-opt span[data-target="#deleteconfirmmodal"]:before, .comment-row span[data-target="#deleteconfirmmodal"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #fac193;
}

[href^="//beon.fun/repost/comment/"]:before {
    font-weight: bold;
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f079";
    color: #fac193;
}

[onclick="deleteComment(this)"]:before {
    font-size: 13px!important;
    font-family: 'Font Awesome 5 Free';
    content: "\f2ed";
    color: #fac193;
}

.post-content {
    padding: 3.5%!important;
}

.bg-white {
    max-width: 97%;
    margin: 5px!important;
    padding: 17px;
}

.crumbs {
    max-width: 97%!important;
    margin: 15px 0 5px 5px!important;
}

div.left-menu__friends.left-menu__friends_offline,
.left-menu__user-notification.left-menu__friends,
.blog__read-me,
.blog__iread,
.blog__last-comments,
.blog__gifts {
    background: #ffffff00;
    padding: 20px;
    margin-bottom: 20px;
}

div.post-content.post-page {
    margin-right: 10px;
}

div.post-content {
    margin: 4px 0!important;
}

.textareabg {
    padding: 4%!important;
}
}

@media (max-width: 540px) {
span.comments_count a {
    font-size: 0.9rem;
}
}
